/* styles.css */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    font-size: 16px;
}

#login {
    margin: 100px auto;
    text-align: center;
}

input[type="password"], input[type="text"] {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 8px;
}

button {
    background-color: #000;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px 20px;
    cursor: pointer;
}

.messages {
    height: 300px;
    overflow: auto;
    background-color: #000;
    border: 1px solid #0f0;
    margin-bottom: 10px;
    padding: 10px;
}
