.step:hover, .mile:hover, .quant:hover, .step.active, .mile.active, .quant.active {
  filter: drop-shadow(2px 4px 6px black);
  border-width: 2px;
  border-color: black;
  cursor: pointer;
}

.greyOut.active, .greyOut:hover {
  filter: drop-shadow(2px 4px 6px black);
  backdrop-filter: brightness(1);
}

.sectionLink, .step, .mile, .quant {
    transition: 
        0.65s backdrop-filter,
        0.65s border-color,
        0.2s outline-width,
        0.65s filter;
}



.sectionLink {
    color: white;
    border-radius: 10px;
    outline-width: 0px;
    outline-color: white;
    outline-style: solid;
}

.sectionLink:hover {
    text-decoration: none;
    backdrop-filter: brightness(1.5);
    outline-width: 3px;
    .step, .mile, .quant {
        backdrop-filter: brightness(1.5);
        border-width: 3px;
        border-color: white;
        border-style: solid;
    }
    /*#surge13, #scourge15 {
        left: 22px;
    }
    #surge12 {
        width: calc(100% + 22px);
    }
    #verge26 {
        right: 1px;
        position: relative;
    }
    #purge17, #splurge7 {
        left: 1px;
        position: relative;
    }*/
}