.sectionLink, .step, .mile, .quant {
    transition: transform 0.5s ease, background-color 0.5s ease;

}

.sectionLink {
    color: white;
    border-radius: 10px;
    outline-width: 0px;
    outline-color: white;
    outline-style: solid;
}

.sectionLink:hover, .section:active {
    text-decoration: none;
  	transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.1);
    .step, .mile {
        border-width: 2px;
        border-color: white;
        border-style: solid;
    }
    .quant {
        border-image: linear-gradient(to top right,
            rgba(184, 39, 252, 0.85) 0%,
            rgba(44, 144, 252, 0.85) 25%, 
            rgba(184, 253, 51, 0.85) 50%, 
            rgba(254, 200, 55, 0.85) 75%, 
            rgba(253, 24, 146, 0.85) 100%);
        border-image-slice: 1;
        outline-width: 2px;
        outline-color: white;
        outline-style: solid;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #595959;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    color: white;
}

input:checked + .slider {
    background-color: #ccc;
    color: #595959;
}

input:checked + .slider:before {
    background-color: #595959;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    align-content: center;
    font-size: 9px;
}

.slider.round:before {
    border-radius: 50%;
}

#toggleLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: -25px;

}

#toggleTitle {
    grid-column: 1;
    text-align: right;
    align-self: center;
    font-size: 14px;
}


.switch {
    grid-column: 2;
}

