@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  height: 100%;
  background-image: url('background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  color: #fff;
  text-align: center;
}

.container {
  width: 80%;
  margin: 40px auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  font-weight: 100;
  
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.section {
  background: rgba(0, 0, 0, 0.3);  color: #fff;
  margin: 25px auto; /* Centered with auto margins on the left and right */
  max-width: 800px; /* Example maximum width, adjust as needed */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.section:hover {
  transform: translateY(-2px);
}

.progress-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 3px;
  margin-top: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar {
  height: 20px;
  background-color: #6A9BE7;
  width: 0%;
  border-radius: 2px;
  transition: width 0.5s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
}

.progress-bar::after {
  content: '';
}

.checkmark {
  color: #B4E087;
  font-size: 1.5em;
}

.x-mark {
  color: #F1A196;
  font-size: 1.5em;
}

.section-title {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.milestones-section {
  background-color: transparent;
  padding: 20px 30px 0px 30px; /* reduced bottom padding */
}

.supplemental-section {
  background-color: transparent;
  padding: 0px 30px 20px 30px; /* reduced top padding */
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.type-title {
  font-size: 2em;
  color: #fff;
  margin-bottom: 0; /* removed bottom margin */
  text-align: center;
}

.upgrade-title {
  font-size: 1.5em;
  color: #fff;
  margin: 20px 0 10px;
}

.description {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.intro-text {
  color: #fff; /* White text for visibility */
  margin: 0 auto 40px; /* Centered with some margin at the bottom */
  padding: 0 15%; /* Padding on the sides to focus the text in the center */
  text-align: center; /* Center the text */
  font-size: 1em; /* Slightly larger font size for readability */
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Let the modal take more space on small screens */
    margin: 10% auto; /* Increase margin from the top if needed */
    padding: 5%; /* Increase padding to make it look bigger */
  }
}

.image-container {
  text-align: center;
  margin: 20px 0 40px;
}

.modal-image {
  max-width: 90%; /* Adjust to your preference */
  max-height: 300px; /* Adjust to your preference */
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px; /* You can set a max-width to ensure it doesn't get too wide on large screens */
  margin: 5% auto; /* This will center the modal and give it some space from the top */
  padding: 2%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* Styles for the back arrow */
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.back-arrow {
  font-size: 4vw; /* Adjust the size of the arrow based on the width of the viewport */
  position: relative;
  color: white;
  top: 2vh; /* Position the arrow slightly from the top of the viewport */
  left: 2vw; /* Position the arrow slightly from the left of the viewport */
  z-index: 5; /* Ensure it's above other content */
  display: inline-block; /* Allows the use of width and height */
  width: 8vw; /* Width of the back arrow container */
  height: 8vw; /* Height of the back arrow container */
  line-height: 8vw; /* Centers the arrow vertically */
  text-align: center; /* Centers the arrow horizontally */
}

.back-arrow:hover {
  text-decoration: none;
}

/* Adjusted countdown container to have less margin at the bottom */
.countdown-container {
  text-align: center;
  margin: 20px auto 10px; /* Reduced bottom margin to 10px */
  font-size: 2.5em; /* Same size as the 'Ethereum Roadmap' title */
}

.countdown-time {
  font-weight: bold;
  margin: 0 10px;
}

.next-call-text {
  font-size: 0.5em; /* Smaller font size for the subtitle */
  margin-top: 10px;
}

.section:first-of-type {
  margin-top: 20px; /* Reduced top margin to 20px */
}

/* ... existing styles ... */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
   max-width: 800px;
  margin: 25px auto;
  padding: 10px;
  border-radius: 10px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.modal-content {
  background-color: #fefefe;
  margin: 5vh auto; /* Top margin as viewport height */
  padding: 4vw; /* Padding as viewport width */
  border: 1px solid #888;
  width: 80%; /* Relative to the parent width */
  max-width: 700px; /* Maximum width */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: zoom;
  animation-duration: 0.6s;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative; /* Positioned relative to its parent which is .modal */
}

.close {
  position: absolute; /* Positioned absolutely within the .modal-content */
  top: 1vh; /* Positioned from the top of the viewport */
  right: 1vw; /* Positioned from the right of the viewport */
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* ... existing styles ... */

.timeline-container {
  
  background: rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 25px auto;
  padding: 10px;
  border-radius: 10px;
  
}

.timeline-title {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.timeline {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.timeline li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.timeline li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}



/* ... footer... */

.footer-box {
  display: inline-block; /* Only as wide as its content */
  background: rgba(0, 0, 0, 0.5); /* Same grey transparent background as the container */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners like other boxes */
  color: #fff; /* White text color */
  margin-top: 10px; /* Adds a bit of margin above the footer box */
  margin-bottom: 20px;
}

.footer p {
  margin: 0; /* Removes default paragraph margin */
}

.footer a {
  color: #fff; /* Ensures the text link is white */
  text-decoration: none; /* No underline on the link */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}



