.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  color: #2f2f2f;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  align-content: center;
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  border: solid 3px #cccccc;
}

.slider:hover {
  border-color: white;
}

.slider.round:before {
  border-radius: 50%;
}

#toggleLayout {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: -20px;
  justify-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sw-simp, #sw-det {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.6s, color 0.6s;
}

#sw-simp {
  background-color: #2f2f2f;
  color: white;
  border-radius: 35px 0px 0px 35px;
}

#sw-det {
  border-radius: 0px 35px 35px 0px;
}


#toggleViewButton:checked ~ .slider #sw-simp {
  background-color: #ccc;
  color: #595959;
}

#toggleViewButton:checked ~ .slider #sw-det {
  background-color: #2f2f2f;
  color: white;
}
